@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
$primaryBg: yellow;
$topNavBg: #ececec;
$headerColor: #505050;
$bodyFont: 'Raleway',
sans-serif;
$redish: #af0814;
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	line-height: 1.6;
	font-family: $bodyFont;
}

img {
	max-width: 100%;
	display: block;
}

h1,
h2,
h3,
p,
ul {
	margin: 0;
}

.mb-5 {
	margin-bottom: 20px;
}

.mt-5 {
	margin-top: 20px;
}

.w-80{
  width: 75%;
}

.mt-4 {
	margin-top: 15px;
}

.pt-5{
 padding-top: 20px;
}

.pt-6{
    padding-top: 35px;
   }


.container {
	width: 85%;
	max-width: 95em;
	margin: 0 auto;
}

.space-between {
	justify-content: space-between;
}

.flex-wrap{
    flex-wrap: wrap;
}

.pointer {
	cursor: pointer;
}

// *********************** NAV STYLES ***********************
.logo-container h1 {
	font-weight: normal;
}

.header {
	background-color: $topNavBg;
	width: 100%;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul {
	padding: 0;
	list-style: none;
}

.d-flex {
	display: flex;
}

.header-nav ul {
	padding: 5px;
	color: $headerColor;
	font-weight: 600;
	font-size: 0.8rem;
	width: 100%;
}

.nav__list> :nth-child(3) {
	margin-right: auto;
}

.header-nav ul span {
	font-weight: 300;
}

.header-nav li {
	margin-right: 15px;
}

.bordered-li {
	border-right: 1px solid #cbcbcb;
	padding-right: 15px;
  cursor: pointer;
}

@media screen and (max-width: 940px) {
	.nav__list {
		display: block;
		text-align: center;
	}
	.bordered-li {
		border: none;
		padding-top: 10px ;
    padding-bottom: 10px;
	}

}

// *********************** NAV STYLES ***********************
// *********************** SVAP STYLES ***********************
.s {
	color: $redish;
}

.logo-container {
	flex-basis: 10%;
}

.search-container {
	flex-basis: 60%;
}

.button-container {
	flex-basis: 30%;
}

.vapo {
	display: flex;
	justify-content: space-between;
}

.vapo-sub {
	height: 60px;
}

@media screen and (max-width: 940px) {
	.vapo {
		display: block;
		text-align: center;
	}
	.logo-container {
		justify-content: center;
	}
	.button-container {
		justify-content: center;
	}
}

// *********************** SVAP STYLES ***********************
// *********************** INPUT STYLES ********************
.input-group {
	position: relative;
	display: flex;
	flex-wrap: wrap; // For form validation feedback
	align-items: stretch;
	margin: 11px 0;
}

.form-control {
	display: flex;
	height: calc(2.25rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	flex-basis: 100%;
}

::-webkit-input-placeholder {
	/* Edge */
	color: #888888;
	font-style: italic;
	font-weight: lighter;
}

 :-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #888888;
	font-style: italic;
	font-weight: lighter;
}

 ::placeholder {
	color: #000000;
	font-style: italic;
	font-weight: 400;
	font-size: 14px;
}


// *********************** INPUT STYLES ********************
//********************** red nav**********************
.redish-nav {
	background: linear-gradient(to right, #972127 0%, #b1252d 100%);
	padding: 12px;
	color: #fff;
}

.offerte {
	background-color: #8a1c22;
	padding: 5px 15px;
	border-radius: 5px;
	font-weight: 600;
	margin-left: 10%;
}

.redish-nav ul {
	justify-content: space-between;
	display: flex;
}

.redish-nav li {
	cursor: pointer;
	font-weight: 600;
}

@media screen and (max-width: 1102px) {
	.redish-nav ul {
		display: block;
	}
	.redish-nav li {
		text-align: center;
		display: block;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.redish-nav li:hover {
		font-size: larger;
	}
	.offerte {
		background-color: inherit;
		padding: 5px 15px;
		border-radius: 5px;
		font-weight: 600;
		margin-left: 0px;
	}
}

.downsvg {
	height: 10px;
	width: 10px;
	fill: white;
	// margin: 8px
}

.wrap {
	flex-wrap: wrap;
}

//********************** red nav**********************
//********************** batterie-img **********************
.batterie-img {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media screen and (max-width: 716px) {
	.batterie-img {
		flex-direction: column;
		align-items: center;
	}
}

//********************** batterie-img **********************
// https://static.pexels.com/photos/248515/pexels-photo-248515.png
.bg-image, .bg-imag-z {
	background: #333 url("../images/dark.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	color: #fff;
	display: flex;
	align-items: center;
	.sconto {
		background-color: #000000;
	}
	.sconto,
	.tutti {
		width: max-content;
		padding: 0px 15px;
	}
	.tutti {
		color: #d1d1d1;
	}
}

.bg-imag-z{
    height: 800px
}

.bg-image-2, .bg-image-3 {
	background: #333 url("../images/cloud.jpg");
	background-blend-mode: overlay;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	// height: 500px;
	color: #fff;
	display: flex;
}


.cards {
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
  }

.d-grid{
 display: grid;
 grid-template-columns: repeat(2, 1fr)
}



.card{
    background-color: white;
    color: white;
    border-radius: 5px;
    display: flex;
    gap:  4rem;
  }


  .card .flex-column > div ~ div{
   background-color: #f9f9f9;
   padding: 1rem;
  }


  @media (max-width: 533px) {
    .card{
    margin: 0.5em auto;
    margin-bottom: 2em;
    }
    
  }

  .res-h1{
    font-size: 3.5rem;
}

  @media (max-width: 790px) {
    .res-h1{
        font-size: 2rem;
    }
    
  }


  /* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }
  
  /* Screen larger than 900px? 3 columns */
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }

  @media (min-width: 1105px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }
  
  @media (min-width: 1352px) {
    .cards { grid-template-columns: repeat(4, 1fr); }
  }
  
  .grey-bg{
   background-color:#63686d;
   padding: 5px;
   cursor: pointer;
  }

  .font-white{
    color: white;
  }

  .flex-column{
      flex-direction: column;
      color: black
  }

  .card-content{
  
    .img {
        height: 100%;
        margin: 0 auto;
        max-height: 200px;
    }
  }

  .h-full{
      height: 100%
  }

  .w-full{
      width: 100%
  }

.w-3-4{
width: 85%;
}
  .card-content-1 {
    max-height: 200px;
 }

.card-content-2{
    color: #1b294b;
}


.nostri-child{
    display: flex;
    }

.card-content-3{
    flex-basis: 35%;
    border-top: 1px solid #898989;
    border-bottom: 1px solid #898989;
}


.badge{
    background: #3d3d3d;
    width: 130px;
    height: 30px;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-top: 10px;
    // padding-bottom: 10px;
}


.border-top{
    border-top: 1px solid lightgray
}


.p-bottom-big{
    padding-bottom: 50px;
}




@media (max-width: 600px) {
    .nostri-child{
    display: block;
    text-align: center;
    }
  }


.d-grid-2{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
   }



   @media (min-width:900px) and (max-width:1208px) {
    .d-grid-2  {
        grid-template-columns: repeat(4, 1fr);   
    }
}  

@media (min-width:600px) and (max-width:900px) {
    .d-grid-2  {
        grid-template-columns: repeat(3, 1fr);   
    }
}  


@media (max-width:600px) {
    .d-grid-2  {
        display: block;
        margin: 0 auto  
    }

    .d-grid-2 img {
        margin: 0 auto  
    }
}  



.gli-aromi{
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 0 auto;
}

.flex-basis-2{
    flex-basis: 30%;
}



.align-content{
    align-content: center;
}


.gli-header{
    flex-basis: 45%;
}

.bg-image-height{
    // height: 500px;
    // overflow: scroll;
    padding: 15px 0px;
}



@media (max-width: 1495px) {
    .gli-header{
        flex-basis: 40%;
    }
  }


  @media (max-width: 1417px) {
    .gli-header{
        flex-basis: 38%;
    }
  }


  @media (max-width: 1360px) {
    .gli-header{
        flex-basis: 35%;
    }
  }

  @media (max-width: 1290px) {
    .gli-header{
        flex-basis: 30%;
    }
  }

  @media (max-width: 1180px) {
    .gli-header{
        flex-basis: 27%;
    }
  }


  @media (max-width: 1140px) {
    .gli-header{
        flex-basis: 20%;
    }
  }


  @media (max-width: 1025px) {
    .gli-header{
        flex-basis: 15%;
    }
  }


  @media (max-width: 960px) {
    .gli-header{
        flex-basis: 10%;
    }

    .card {
     margin-bottom: 2rem;
    }
  }

  @media (max-width: 1062px) {
    .card {
      margin-bottom: 2rem;
     }
  }

  @media (max-width: 940px) {
    .gli-header{
        flex-basis: 100%;
    }

    .red-button {
      margin: 10px auto;
    }
  }


  @media (max-width: 533px) {

    .red-button {
      margin: 0 auto !important;
    }
  }

  .red-button , .red-button-2{
    background-color:#b02128; /* Green */
    border-radius: 10px;
    border-color: #b02128;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0px;
  }

  .red-button-2{
    padding: 10px 20px 10px 10px;
    width: 180px;
  }


  .brw-color{
    background: #ebebeb;
  }

  .card-columns .cardo {
    padding:  15px 0px;
    height: auto;
    display: flex;
    color:#000000;
  }
  .card-columns{
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
  
  }



.mr-50{
margin-right: 50px;
}




  @media (max-width: 1475px) {

    .card-columns{
      grid-template-columns: repeat(1, 1fr);
    }

    .w-80{
      width: 70%;
      margin: 0 auto;
    }


  }



  @media (max-width: 780px){
   .brw-color .card {
    margin: 0px auto 30px auto;
}
  }


  aside H1{
    color : #063a5c;
    font-weight:bolder;
  }


  .bg-image-3{
    background: none;
  } 


  .butter-color{
    background: #ebebeb;
    padding: 10px;
    border-radius: 10px;
  }


  // .transform-20{
  //   -ms-transform: rotate(20deg); /* IE 9 */
  //   transform: rotate(20deg);
  // }


  .grow-decimal{
    flex-grow: 0.6;
  }

  .pb-5{
    padding-bottom: 30px;
  }


  /* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: 300px;
  background-color: #51575d;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: white;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}


